/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*FIN RESET*/

body{
    font-family: 'roboto';
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    color: #8C6F56;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 60px;

}
p{
    font-size: 24px;
    text-align: justify;
    font-family: 'Syne', sans-serif;
    color: #307326;
    margin-top: 20px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.calltoaction{
    padding: 11px 21px;
    background-color: #c98677;
    border-radius: 4px;
    color: rgb(7, 6, 6);
    text-decoration: none;
    
}
header{
    height: 70vh;
    background: url(../asset/img/fond.svg) no-repeat;
    background-size: cover;
    background-position: top;
    justify-content: space-between;
}
.logo{
    width: 350px;
    text-align: center;
    padding-top: 20px; /*marge intérieur*/
    margin-top: 20px;/*marge extérieur*/
}
.logo img{
    width: 50%;
}

.bouton{
    text-align: right;
    padding: 30px;
}

.bouton .calltoaction{
    margin-left: 16px;
    transition: 0.5s;
}
.bouton .calltoaction:hover{
    filter: brightness(80%);
    color: rgb(215, 178, 29);
}

nav{
    margin-top: 0px;
}
nav::after {
    content: "";
    height: 150px;
    width: 150px;
    background: radial-gradient(
      circle closest-side,
      rgba(255, 255, 255, 0.69),
      transparent
    );
    position: absolute;
    transform: translate(-50%, -50%);
    left: var(--x);
    top: var(--y);
    border-radius: 150px;
    transition: 0.25s;
    z-index: 20;
    opacity: 0;
    left: var(--x);
    top: var(--y);
  }
  nav:hover::after {
    opacity: 1;
  }

nav ul{
    display: flex;
}

nav a{
    color: rgb(252, 248, 248);
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
}
nav a:hover{
    color: rgb(207, 124, 124);
}
main{
    margin-top: 100px;
}
/*Première section*/
.description{
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.resto{
    width: 35%;
}
.h2 .description{
    margin-left: 10%;
}
.resto img{
    width: 85%;
    margin-top: 20px;
}
.story{
    width: 65%;
    height: 200px;
}
.h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000000;
    margin-top: 20px;
}
.Nosburgers{
    height: 400px;
    width: calc(100%-100px);
    padding-top: 90px;
    display: flex;
    padding-right: 100px;
}

.Nosburgers img{
    height: 250px;
    margin: 0px 30px 0px 30px;
}

.Nosburgers-gauche{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 50px;
    margin-right: 50px;
}

.Nosburgers-droite{
    display: flex;
    height: 300px;
    width: 70%;
}

h1{
    font-size: 48px;
    color: #8C6F56;
    font-family: 'Oswald', sans-serif;
}
p{
    font-size: 24px;
    color: #307326;
    font-family: 'Syne', sans-serif;
}
.actu{
    width: 100%;
}
.article{
    display: flex;

}
.actu h1{
    text-align: center;
}
.actu h2{
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin: 30px 0px 0px 130px;
}
.actu img{
    margin: auto ;
    height: 250px;
}
.newsletter{
    height: 194px;
    width: 1300px;
    background-color: #8C6F56;
    margin: auto;
    margin-top: 80px;
    border-radius: 4px;
}
.offre{
    height: 50px;
    width: 30%;
}
.offre p{
    color: #000000;
    font-size: 32px;
    margin-top: 60px;
    text-indent : 5%;
    padding-top: 50px;
}
.slick-next:before, .slick-prev:before {
    background-color: rgb(198, 48, 48);
    border-radius: 9px;
}

/*Footer*/
footer {
    height: 300px;
    background: #D95032;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.one, .two, .three, .maps {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

a{
    margin: 30px;
    color: white;
}
.maps{
    height: 200px;
    width: 300px;
}
.hidden{
    display: none;
}