#container{
    width: 1300px;
    margin: 100px auto;
    border: 2px solid black;
}
header{
    height: 75px;
    background: tomato;
}
nav{
    height: 75px;
    background: olivedrab;
    border-bottom: 4px solid tomato;
}
main{
    height: 400px;
    background: khaki;
    margin: 20px;
}
footer{
    height: 75px;
    background: greenyellow;
}